<nav class="bg-white py-4 pr-46 top-menu flex-x-between align-items-center">
  <div class="pl-49">
    <h1 class="text-light-grey f78-h98 text-weight-800 my-0">
      Facility Manager
    </h1>
  </div>
  <div class="flex-x-center">
    <span class="icon-notification bg-light-blue icon-50"></span>
    <span class="text-dark f24-h33 ml-100">Tactical Deen</span>
  </div>
</nav>
<div
  class="side-menu position-absolute top-0 bottom-0 left-0 bg-secondary pt-26"
>
  <div class="text-center mb-69">
    <img
      src="/assets/images/Spacio-logo-alt2.png"
      class="max-w-174 mr-61 ml-31"
      alt=""
    />
  </div>
  <button
    class="
      btn
      radius-md
      px-34
      py-20
      bg-primary
      mr-45
      ml-24
      flex-x-center-center
      text-white
      f18-h24
    "
  >
    <span class="icon-plus mr-26 icon-20"></span>
    Add New
  </button>
  <ul class="ml-47 mr-33 mt-62 p-0">
    <li class="list-unstyled mb-44">
      <a href="#" class="flex">
        <span class="icon-crosschair icon-32"></span>
        <span class="ml-33 text-white mb-2">Overview</span>
      </a>
    </li>
    <li class="list-unstyled mb-44">
      <a href="#" class="flex">
        <span class="icon-payment icon-32"></span>
        <span class="ml-33 text-white mb-2">Payment</span>
      </a>
    </li>
    <li class="list-unstyled mb-44">
      <a href="#" class="flex">
        <span class="icon-mail icon-32"></span>
        <span class="ml-33 text-white mb-2">Demand Notice</span>
      </a>
    </li>
    <li class="list-unstyled mb-44">
      <a href="#" class="flex">
        <span class="icon-services icon-32"></span>
        <span class="ml-33 text-white mb-2">Services</span>
      </a>
    </li>
    <li class="list-unstyled mb-44">
      <a href="#" class="flex">
        <span class="icon-user-group icon-32"></span>
        <span class="ml-33 text-white mb-2">Users</span>
      </a>
    </li>
    <li class="list-unstyled mb-44">
      <a href="#" class="flex">
        <span class="icon-keyboard icon-32"></span>
        <span class="ml-33 text-white mb-2">Work Order</span>
      </a>
    </li>
    <li class="list-unstyled">
      <a href="#" class="flex">
        <span class="icon-house icon-32"></span>
        <span class="ml-33 text-white mb-2">Estate</span>
      </a>
    </li>
  </ul>
  <div class="list-unstyled mr-63 ml-36 mt-210 mb-91">
    <button class="btn radius-md border-grey px-51 py-13 text-white f18-h24">
      Logout
    </button>
  </div>
</div>
