<div class="dialog central-dialog" id="uploadDialog">
  <div class="dialog-content bg-white dialog-sm">
    <div class="px-30 px-md-71 pt-41 pb-26 pt-md-65">
      <div class="mb-21 text-center">
        <h1 class="f35-h42 text-black-alt mb-8 text-weight-bolder">
          Upload your files
        </h1>
        <p class="f21-29 text-grey-2">Files should be Xls, Zip, Avi</p>
      </div>
      <div class="drag-drop mb-34">
        <span class="py-17 px-20 bg-primary-trans radius-md">
          <span class="icon-folder icon-38"></span>
        </span>
        <p class="text-light-grey-2 f16-h22 pt-14">Drag & Drop files here</p>
      </div>

      <div>
        <label class="f16-h22 text-grey-2">Choose Property type</label>
        <div class="pt-34"></div>
      </div>
    </div>
  </div>
</div>
