<div class="dialog central-dialog" id="uploadDialog">
  <div class="dialog-content bg-white dialog-sm">
    <div class="px-30 px-md-71 pt-41 pb-34 pt-md-65">
      <div class="mb-21 text-center">
        <h1 class="f35-h42 text-black-alt mb-8 text-weight-bolder">
          Upload your files
        </h1>
        <p class="f21-29 text-grey-2">Files should be Xls, Zip, Avi</p>
      </div>
      <div class="drag-drop mb-34">
        <span class="py-17 px-20 bg-primary-trans radius-md">
          <span class="icon-folder icon-38"></span>
        </span>
        <p class="text-light-grey-2 f16-h22 pt-14">Drag & Drop files here</p>
      </div>

      <div>
        <label class="f16-h22 text-grey-2">Choose Property type</label>
        <div class="pt-34 max-h-115">
          <div class="upload-progress position-relative px-50 mb-38">
            <div class="position-absolute left-15 top-12">
              <span class="icon-file icon-23-28"></span>
            </div>
            <div class="flex-x-between progress-status mb-8">
              <span class="f12-h13 text-grey-2">Ajao_New Residents.Xls</span>
              <span class="f12-h13 text-grey-2">80%</span>
            </div>
            <div class="progress-bar progress-80"></div>
            <div class="position-absolute right-15 top-12">
              <span class="icon-check-green icon-23 position-absolute"></span>
            </div>
          </div>

          <div class="upload-progress position-relative px-50 mb-38">
            <div class="position-absolute left-15 top-12">
              <span class="icon-file icon-23-28"></span>
            </div>
            <div class="flex-x-between progress-status mb-8">
              <span class="f12-h13 text-grey-2">Ajao_New Residents.Xls</span>
              <span class="f12-h13 text-grey-2">100%</span>
            </div>
            <div class="progress-bar progress-100"></div>
            <div class="position-absolute right-15 top-12">
              <span class="icon-check-green icon-23 position-absolute"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
