<div class="calendar mb-45">
  <div
    class="
      calendar-head
      flex
      justify-content-between
      mb-20
      align-items-center
      pr-10
    "
  >
    <h6 class="f24-h33 text-black-alt text-weight-600ß">Today, 15 July</h6>
    <div class="flex position-relative pt-3">
      <span class="icon-circle-left icon-24 cursor-pointer mr-50"></span>
      <span class="icon-circle-right icon-24cursor-pointer"></span>
    </div>
  </div>
  <div class="calendar-body flex-x-between">
    <span class="f10-h13 text-black-alt day">S</span>
    <span class="f10-h13 text-black-alt day">M</span>
    <span class="f10-h13 text-black-alt day">T</span>
    <span class="f10-h13 text-black-alt day active-day">W</span>
    <span class="f10-h13 text-black-alt day">T</span>
    <span class="f10-h13 text-black-alt day">F</span>
    <span class="f10-h13 text-black-alt day">S</span>
  </div>
</div>
