<div class="dialog central-dialog" id="changePlanDialog">
  <div class="dialog-content bg-white dialog-lg">
    <div class="pt-87 pb-50 px-80">
      <div class="pb-31 border-bottom-grey mb-75">
        <div class="pr-40 position-relative">
          <h3 class="f48-h65 text-weight-700 text-black-alt mb-12">
            Simple, Trasparent pricing
          </h3>
          <p class="f18-h24 text-primary text-weight-600">
            Full Service Property Management. Over 500+ Property Owners Choose
            Us
          </p>
          <span
            class="
              icon-35 icon-close-grey
              position-absolute
              right-0
              top-0
              cursor-pointer
            "
          ></span>
        </div>
      </div>
      <div class="row mx-n23">
        <div class="size-sm-12 size-md-4 mb-24 pricing-card">
          <div class="px-md-23 h-100">
            <div class="bg-white border-grey radius-12 px-25 pb-26 pt-43">
              <div class="pb-16 border-bottom-grey mb-19">
                <h6 class="f20-h27 text-primary text-weight-600">
                  Spacio Elite
                </h6>
                <h1 class="f48-h65 text-primary text-weight-bold mb-7">
                  $42
                  <span class="f18-h24 text-grey text-weight-400">/ Month</span>
                </h1>
                <p class="f18-h24 text-grey">
                  For many residents that want to an optimum service
                </p>
              </div>
              <ul class="list-unstyled p-0 mb-43">
                <li>General sanitation</li>
                <li>Security & gate pass</li>
                <li>Electricity</li>
                <li>Random service</li>
                <li>Cooling service</li>
              </ul>
              <button
                class="
                  btn
                  p-13
                  w-100
                  border-grey
                  radius-md
                  f18-h24
                  text-weight-600
                "
              >
                Change Plan
              </button>
            </div>
          </div>
        </div>
        <div class="size-sm-12 size-md-4 mb-24 pricing-card">
          <div class="px-md-23 h-100">
            <div class="bg-primary border-white radius-12 px-25 pb-26 pt-43">
              <div class="pb-16 border-bottom-white mb-19">
                <h6 class="f20-h27 text-primary text-weight-600">Spacio Pro</h6>
                <h1 class="f48-h65 text-white text-weight-bold mb-7">
                  $42
                  <span class="f18-h24 text-white text-weight-400"
                    >/ Month</span
                  >
                </h1>
                <p class="f18-h24 text-white">
                  For many residents that want to an optimum service
                </p>
              </div>
              <ul class="list-unstyled p-0 mb-43">
                <li>General sanitation</li>
                <li>Security & gate pass</li>
                <li>Electricity</li>
                <li>Random service</li>
                <li>Cooling service</li>
              </ul>
              <button
                class="
                  btn
                  p-13
                  w-100
                  border-white
                  bg-white
                  radius-md
                  f18-h24
                  text-weight-600
                "
              >
                Change Plan
              </button>
            </div>
          </div>
        </div>

        <div class="size-sm-12 size-md-4 mb-24 pricing-card">
          <div class="px-md-23 h-100">
            <div class="bg-white border-grey radius-12 px-25 pb-26 pt-43">
              <div class="pb-16 border-bottom-grey mb-19">
                <h6 class="f20-h27 text-primary text-weight-600">
                  Spacio Deluxe
                </h6>
                <h1 class="f48-h65 text-primary text-weight-bold mb-7">
                  $102
                  <span class="f18-h24 text-grey text-weight-400">/ Month</span>
                </h1>
                <p class="f18-h24 text-grey">
                  For many residents that want to an optimum service
                </p>
              </div>
              <ul class="list-unstyled p-0 mb-43">
                <li>General sanitation</li>
                <li>Security & gate pass</li>
                <li>Electricity</li>
                <li>Random service</li>
                <li>Cooling service</li>
              </ul>
              <button
                class="
                  btn
                  p-13
                  w-100
                  border-grey
                  radius-md
                  f18-h24
                  text-weight-600
                "
              >
                Change Plan
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
