<h6 class="mb-25 f24-h33 text-black-alt">Live Feed</h6>
<div class="feeds">
  <div class="feed-card">
    <h6 class="f18-h24 text-black-alt mb-4">Fire Drill on 17th & 18th</h6>
    <p class="f14-h19 text-grey-2 mb-4">12/11/2021, 12:35 pm</p>
  </div>
  <div class="feed-card">
    <h6 class="f18-h24 text-black-alt mb-4">Fire Drill on 17th & 18th</h6>
    <p class="f14-h19 text-grey-2 mb-4">12/11/2021, 12:35 pm</p>
  </div>
  <div class="feed-card">
    <h6 class="f18-h24 text-black-alt mb-4">Fire Drill on 17th & 18th</h6>
    <p class="f14-h19 text-grey-2 mb-4">12/11/2021, 12:35 pm</p>
  </div>
  <div class="feed-card">
    <h6 class="f18-h24 text-black-alt mb-4">Fire Drill on 17th & 18th</h6>
    <p class="f14-h19 text-grey-2 mb-4">12/11/2021, 12:35 pm</p>
  </div>
  <div class="feed-card">
    <h6 class="f18-h24 text-black-alt mb-4">Fire Drill on 17th & 18th</h6>
    <p class="f14-h19 text-grey-2 mb-4">12/11/2021, 12:35 pm</p>
  </div>

  <div class="feed-card">
    <h6 class="f18-h24 text-black-alt mb-4">Fire Drill on 17th & 18th</h6>
    <p class="f14-h19 text-grey-2 mb-4">12/11/2021, 12:35 pm</p>
  </div>
  <div class="feed-card">
    <h6 class="f18-h24 text-black-alt mb-4">Fire Drill on 17th & 18th</h6>
    <p class="f14-h19 text-grey-2 mb-4">12/11/2021, 12:35 pm</p>
  </div>
  <div class="feed-card">
    <h6 class="f18-h24 text-black-alt mb-4">Fire Drill on 17th & 18th</h6>
    <p class="f14-h19 text-grey-2 mb-4">12/11/2021, 12:35 pm</p>
  </div>
  <div class="feed-card">
    <h6 class="f18-h24 text-black-alt mb-4">Fire Drill on 17th & 18th</h6>
    <p class="f14-h19 text-grey-2 mb-4">12/11/2021, 12:35 pm</p>
  </div>

  <div class="feed-card">
    <h6 class="f18-h24 text-black-alt mb-4">Fire Drill on 17th & 18th</h6>
    <p class="f14-h19 text-grey-2 mb-4">12/11/2021, 12:35 pm</p>
  </div>
</div>
