<div class="dropdown-menu parent-size" id="houseMenuDialog">
  <div class="dialog-content bg-white radius-md">
    <ul class="px-25 py-24 list-unstyled m-0">
      <li class="mb-29 mb-29 border-bottom-grey pb-16 flex-x-center">
        <span class="radius-7 p-14 bg-primary-trans-2 h-fit-content d-block">
          <span class="icon-29-23 icon-house-blue"></span>
        </span>
        <div class="ml-17">
          <p class="text-grey-2 f16-h21 text-weight-600">Tactical Deen</p>
          <p class="text-grey f16-h21 text-weight-600">46. Badmus Craft Ave.</p>
        </div>
      </li>
      <li class="mb-29 mb-29 border-bottom-grey pb-16 flex-x-center">
        <span class="radius-7 p-14 bg-primary-trans-2 h-fit-content d-block">
          <span class="icon-29-23 icon-house-blue"></span>
        </span>
        <div class="ml-17">
          <p class="text-grey-2 f16-h21 text-weight-600">Tactica Deen</p>
          <p class="text-grey f16-h21 text-weight-600">46. Badmus Craft Ave.</p>
        </div>
      </li>
      <li class="mb-29 mb-29 border-bottom-grey pb-16 flex-x-center">
        <span class="radius-7 p-14 bg-primary-trans-2 h-fit-content d-block">
          <span class="icon-29-23 icon-house-blue"></span>
        </span>
        <div class="ml-17">
          <p class="text-grey-2 f16-h21 text-weight-600">Tactica Deen</p>
          <p class="text-grey f16-h21 text-weight-600">46. Badmus Craft Ave.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
