<div class="dialog central-dialog" id="orderSummaryDialog">
  <div class="dialog-content bg-white dialog-lg">
    <div class="pr-40 position-relative flex-x-between pt-35 pb-26 pr-56 pl-80">
      <h3 class="f36-h49 text-weight-600 text-black-alt mb-12">
        Payment Invoice
      </h3>
      <span class="icon-35 icon-close-grey right-0 top-0 cursor-pointer"></span>
    </div>
    <div class="bg-grey-lighter px-25 pb-84">
      <div class="table-responsive">
        <table class="table resident-table">
          <thead>
            <tr class="f18-h24 text-grey">
              <th>Description:</th>
              <th>Date Due:</th>
              <th>Amount Due:</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="f18-h24 text-weight-600">
              <td>Monthtly Service Charge</td>
              <td>12/09/202</td>
              <td>$500.24</td>
              <td>
                <button
                  class="btn bg-primary text-white py-8 px-40 radius-md f18-h24"
                >
                  Pay Now
                </button>
              </td>
            </tr>
            <tr class="f18-h24 text-weight-600">
              <td>Monthtly Service Charge</td>
              <td>12/09/202</td>
              <td>$500.24</td>
              <td>
                <button
                  class="btn bg-primary text-white py-8 px-40 radius-md f18-h24"
                >
                  Pay Now
                </button>
              </td>
            </tr>
            <tr class="f18-h24 text-weight-600">
              <td>Monthtly Service Charge</td>
              <td>12/09/202</td>
              <td>$500.24</td>
              <td>
                <button
                  class="btn bg-primary text-white py-8 px-40 radius-md f18-h24"
                >
                  Pay Now
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="f18-h24 text-grey">Sub Total:</td>
              <td class="f18-h24 text-weight-600">$500.24</td>
            </tr>
            <tr>
              <td colspan="3" class="f18-h24 text-grey">
                Grand Total VAT (7,5%) inclusive::
              </td>
              <td class="f18-h24 text-weight-600">$500.24</td>
            </tr>
            <tr>
              <td colspan="4">
                <button
                  class="
                    btn
                    bg-primary
                    py-13
                    px-58
                    radius-md
                    text-white
                    f18-h24
                  "
                >
                  Pay Grand Total
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
