<div class="dialog central-dialog-lg" id="orderSummaryDialog">
  <div class="dialog-content bg-white dialog-lg">
    <div
      class="pr-40 position-relative flex-x-end pt-35 pb-177 pr-56 pl-80 mb-132"
    >
      <span
        class="icon-35 icon-close-grey cursor-pointer"
        onclick="closeModal('orderSummaryDialog')"
      ></span>
    </div>
    <div class="bg-grey-lighter px-25 pb-84">
      <div class="text-center">
        <span class="icon icon-success-blue mb-50"></span>
        <h6 class="f36-h49 text-weight-600 text-black-alt mb-19">
          Order Completed Succesfully!
        </h6>
        <p class="text-grey f20-h27 text-weight-600">
          Your payment was succesfully processed using visa **** 1234 check your
          email for your receipt.
        </p>
      </div>
    </div>
  </div>
</div>
