<div class="dialog central-dialog-lg" id="paymentSuccessfulDialog">
  <div class="dialog-content bg-white dialog-lg">
    <div class="position-relative flex-x-end pt-35 pr-56 pl-80 mb-132">
      <span
        class="icon-35 icon-close-grey cursor-pointer"
        data-close-modal="paymentSuccessfulDialog"
      ></span>
    </div>
    <div class="px-25 pb-117">
      <div class="text-center max-w-594 mx-auto">
        <img
          src="/assets/images/CheckCircle.png"
          class="icon-189 mx-auto mb-56"
          alt="success avatar"
        />
        <h6 class="f36-h49 text-weight-600 text-black-alt mb-19">
          Order Completed Succesfully!
        </h6>
        <p class="text-grey f20-h27 text-weight-600">
          Your payment was succesfully processed using visa **** 1234 check your
          email for your receipt.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- payment success modal -->
<payment-success-component></payment-success-component>
