<div class="py-17 px-22 radius-5 bg-white mb-25">
  <div class="flex-x-between mb-13">
    <h6 class="f24-h33 text-black-alt text-weight-600">Payment info</h6>
    <span class="radius-7 h-fit-content p-15 bg-grey-trans">
      <span class="icon-20 icon-pencil-grey"></span>
    </span>
  </div>
  <div class="flex align-items-center">
    <div>
      <img src="/assets/icons/card.svg" alt="" />
    </div>
    <div class="pb-17 w-100">
      <p class="text-grey f14-h19 mb-5">
        Mastercard
        <span class="text-weight-700 text-black-alt">5432</span>
      </p>
      <p class="text-grey f14-h19">
        Exp. date
        <span class="text-weight-700 text-black-alt">12/15 </span>
      </p>
    </div>
  </div>
</div>
