<div class="dialog central-dialog" id="tagDropdown">
  <div class="dialog-content bg-white search-dropdown search-dialog radius-md">
    <div class="mb-29 text-center pt-48">
      <div class="flex-x-center-center">
        <img src="/assets/images/user-avatar.png" class="icon-53 mb-7" alt="" />
      </div>
      <h6 class="f24 f24-h33 text-weight-600 mb-5 text-grey">
        Tag People to this Order
      </h6>
      <p class="text-grey-2 f16-h21 text-weight-400">
        Invite Exco’s and facility managers or residents
      </p>
    </div>
    <div class="mb-56 px-20 px-md-42 pt-38">
      <input
        type="text"
        placeholder="search"
        class="search-right search-grey mr-26 radius-md border-grey-6 border-1x border-solid text-grey w-100"
      />
    </div>
    <ul
      class="form-content-scroll max-h-312 px-20 px-md-42 pb-20 list-unstyled m-0 border-none mb-89"
    >
      <li
        class="mb-29 mb-29 border-bottom-grey pb-14 px-0 flex align-items-start justify-content-between"
      >
        <div class="position-relative flex flex-1 pr-3">
          <div>
            <img
              src="/assets/images/ga.png"
              class="fit-cover rounded tag-avatar"
              alt=""
            />
          </div>
          <div class="ml-22">
            <h6 class="text-weight-600 f18-h24 text-grey-2 mb-6">Shola Tok</h6>
            <p class="text-weight-400 f18-h24 text-grey">SholaTox@spacio.com</p>
          </div>
        </div>
        <div class="text-end flex-1">
          <span class="badge px-23 py-3 badge-warning radius-5">Exco</span>
        </div>
      </li>
      <li
        class="mb-29 mb-29 border-bottom-grey pb-14 px-0 flex align-items-start justify-content-between"
      >
        <div class="position-relative flex flex-1 pr-3">
          <div>
            <img
              src="/assets/images/ba.png"
              class="fit-cover rounded tag-avatar"
              alt=""
            />
          </div>
          <div class="ml-22">
            <h6 class="text-weight-600 f18-h24 text-grey-2 mb-6">
              Nyemike Godwin
            </h6>
            <p class="text-weight-400 f18-h24 text-grey">SholaTox@spacio.com</p>
          </div>
        </div>
        <div class="text-end flex-1">
          <span class="badge px-23 py-3 badge-intermediate radius-5"
            >Facility manager</span
          >
        </div>
      </li>
      <li
        class="mb-29 mb-29 border-bottom-grey pb-14 px-0 flex align-items-start justify-content-between"
      >
        <div class="position-relative flex flex-1 pr-3">
          <div>
            <img
              src="/assets/images/ga.png"
              class="fit-cover rounded tag-avatar"
              alt=""
            />
          </div>
          <div class="ml-22">
            <h6 class="text-weight-600 f18-h24 text-grey-2 mb-6">Shola Tok</h6>
            <p class="text-weight-400 f18-h24 text-grey">SholaTox@spacio.com</p>
          </div>
        </div>
        <div class="text-end flex-1">
          <span class="badge px-23 py-3 badge-warning radius-5">Exco</span>
        </div>
      </li>
    </ul>
    <div class="flex justify-content-end pb-50 px-20 px-md-42">
      <button
        class="btn f18-h24 text-black-alt px-34 py-13 radius-md border-grey"
      >
        Cancel
      </button>
      <button
        class="btn f18-h24 px-34 py-13 radius-md bg-green-2 ml-22 flex-x-center text-white"
        type="button"
      >
        <span class="icon-plus-white mr-26 icon-20"></span>
        Invite 3 people
      </button>
    </div>
  </div>
</div>
