<div class="dialog side-dialog" id="adNewDialog" data-modal-stackable="false">
  <div class="dialog-content bg-white dialog-xsm">
    <div class="px-14 pt-56">
      <ul class="p-0">
        <li
          class="f18-h24 cursor-pointer text-dark-alt mb-39 px-51 flex-x-center"
          data-modal-target="addResidntDialog"
        >
          <span class="icon-user-black mr-33 icon-17"></span>
          New Resident
        </li>
        <li
          class="f18-h24 cursor-pointer text-dark-alt mb-39 px-51 flex-x-center"
          data-modal-target="addUserDialog"
        >
          <span class="icon-user-group-black mr-33 icon-22"></span>
          New User
        </li>
        <li
          class="f18-h24 cursor-pointer text-dark-alt px-51 flex-x-center"
          data-modal-target="addFacilityDialog"
        >
          <span class="icon-home-black mr-33 icon-22"></span>
          New Facility / Estate
        </li>
        <li
          class="f18-h24 cursor-pointer text-dark-alt py-39 px-51 b-b-s-1x border-grey6 flex-x-center"
          data-modal-target="addPropertyDialog"
        >
          <span class="icon-layer-black mr-33 icon-22"></span>
          New Property
        </li>
        <li
          class="f18-h24 cursor-pointer text-dark-alt py-39 px-51 b-b-s-1x border-grey6 flex-x-center"
          data-modal-target="addServiceDialog"
        >
          <span class="icon-services-black mr-33 icon-32"></span>
          New Service
        </li>
        <li
          class="f18-h24 cursor-pointer text-dark-alt py-39 px-51 b-b-s-1x border-grey6 flex-x-center"
          data-modal-target="newWorkOrderDialog"
        >
          <span class="icon-keyboard-black mr-33 icon-22"></span>
          New Work Order
        </li>
        <li
          class="f18-h24 cursor-pointer text-dark-alt pb-37 pt-39 px-51 flex-x-center"
          data-modal-target="newDemandNoticeDialog"
        >
          <span class="icon-mail-black mr-33 icon-22"></span>
          New Demand Notice
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- dialog items -->
<new-work-order-component></new-work-order-component>
<new-demand-notice-component></new-demand-notice-component>
