<div class="dialog central-dialog" id="estateSuccessDialog">
  <div class="dialog-content bg-white dialog-md radius-15">
    <img
      src="/assets/images/estate-success-vec.png"
      class="position-absolute top-0 right-0"
      alt=""
    />
    <div class="px-30 px-md-71 pt-25 pb-42 pt-md-65">
      <div class="mt-393">
        <h1
          class="f30-h41 text-black-alt mb-8 text-weight-bolder pr-0 pr-md-40"
        >
          Thank you, your request has been sent to Spacio!
        </h1>
        <p class="f18-h24 text-grey-2 pr-0 pr-md-10">
          You will get an notification via email, shortly
        </p>
      </div>

      <button
        class="
          btn
          py-16
          bg-primary
          text-center text-white
          w-100
          radius-md
          f16-h21
          flex-x-center-center
        "
        id="addEstateSuccessBtn"
        type="submit"
      >
        <span class="icon-plus-white icon-20 mr-26"></span>
        Continue to Sign up
      </button>
    </div>
  </div>
</div>
