<div class="dialog side-dialog" id="addServiceDialog">
  <div class="dialog-content bg-white dialog-md radius-15">
    <div class="px-30 px-md-71 pt-25 pb-42 pt-md-65">
      <form action="" class="form-scroll">
        <div class="mb-40 mb-md-84 pr-0 pr-md-50">
          <h1 class="f30-h41 text-black-alt mb-8 text-weight-bolder">
            Add the a new Service & information
          </h1>
          <p class="f18-h24 text-grey-2">
            Add some information of the service you want to create, (e.g service
            title and basic details) on the spacio system.
          </p>
        </div>
        <div class="form-content-scroll mb-20">
          <div class="form-group mb-32">
            <label for="name" class="f16-h21 text-grey-2">Service Type</label>
            <select name="facility" data-modal-target="serviceTypeDropdown">
              <option value="" class="hidden">Estate Maintenance Due</option>
            </select>
            <label for="" class="text-primary f16-h21 mt-13"
              >Service ID: TPE/30/GEN/SPACIO</label
            >
          </div>

          <div class="form-group mb-23">
            <label for="name" class="f16-h21 text-grey-2">Service Group</label>
            <select name="facility" data-modal-target="estateDropwonDialog">
              <option value="" class="hidden">Ajao Int’l Estate - Lagos</option>
            </select>
          </div>

          <div class="form-group w-100 mb-23">
            <label for="name" class="f16-h21 text-grey-2"
              >Select Category</label
            >
            <div class="flex">
              <select name="facility" data-modal-target="categoryDropdown">
                <option value="" class="hidden">General</option>
              </select>
              <span
                class="cursor-pointer p-16 radius-md bg-primary ml-10"
                data-modal-target="addCategoryDialog"
              >
                <span class="icon-plus-white icon-32"></span>
              </span>
            </div>
          </div>

          <div class="form-group mb-51">
            <div class="row mx-n5">
              <div class="size-md-7">
                <div class="form-group px-0 px-md-5 mb-31 mb-md-0">
                  <label for="name" class="f16-h21 text-grey-2"
                    >Choose Tenure</label
                  >
                  <select
                    name="facility"
                    id="selectTenure"
                    data-modal-target="tenureDropdown"
                  >
                    <option value="" class="hidden">30 Days</option>
                  </select>
                </div>
              </div>
              <div class="size-md-5">
                <div class="form-group px-0 px-md-5 mb-11">
                  <label for="name" class="f16-h21 text-grey-2"
                    >Start Date</label
                  >
                  <input
                    type="date"
                    value="12/07/2021"
                    class="calendar-right calendar-black"
                    id="date"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="f16-h21 text-grey-2">Service Charge</label>
            <input type="number" placeholder="5000" id="charge" />
          </div>
        </div>

        <button
          class="btn py-16 bg-primary text-center text-white w-100 radius-md f16-h21 flex-x-center-center"
          data-close-modal="addServiceDialog"
          type="button"
        >
          <span class="icon-plus-white icon-20 mr-26"></span>
          Add New Service
        </button>
      </form>
    </div>
  </div>
</div>

<!-- tenure dropdown -->
<tenure-dropdown-component></tenure-dropdown-component>
