<div class="dialog side-dialog" id="addCategoryDialog">
    <div class="dialog-content bg-white dialog-md radius-15">
        <div class="px-30 px-md-71 pt-25 pb-42 pt-md-65">
            <form action="" class="form-scroll">
                <div class="pr-0 pr-md-50">
                    <h1 class="f30-h41 text-black-alt mb-8 text-weight-bolder">
                        Add Category
                        Property details
                    </h1>
                    <p class="f18-h24 text-grey-2">
                        Add a name and the address for the new
                        property to be able to locate it on the
                        spacio system.
                    </p>
                </div>
                <hr class="mt-31 mb-21">

                <div class="form-content-scroll mb-52">
                    <div class="form-group mb-51">
                        <label for="name" class="f16-h21 text-grey-2">Add Resident ID / Phone number</label>
                       <div class="radio-group">

                       </div>
                    </div>

                    <hr class="mt-0 mb-24"> 

                    <div class="form-group mb-32">
                        <label for="name" class="f16-h21 text-grey-2">Add
                            Resident ID / Phone number</label>
                        <input type="text"
                            placeholder="Resident-Exco/Ajao/0019">
                        <label for="" class="text-primary f16-h21 mt-13">Service
                            ID: TPE/30/GEN/SPACIO</label>
                    </div>

                    <div class="position-relative pr-0 pr-md-108 mb-10">
                        <div id="triggerUpload" class="cursor-pointer
                            flex-x-center">
                            <span class="py-17 px-20 bg-primary-trans
                                radius-md">
                                <span class="icon-file-upload icon-22"></span>
                            </span>
                            <div class="ml-10">
                                <p class="f18-h24 text-black-alt
                                    text-weight-600">Upload bulk users</p>
                                <p class="f13-h18 text-grey-2">Short description
                                    of
                                    the process</label>
                            </div>
                        </div>
                        <span class="text-primary f12-h13 position-absolute
                            right-0 top-15">Download complete</span>
                    </div>

                </div>

                <button
                    class="btn
                    py-16
                    bg-primary
                    text-center text-white
                    w-100
                    radius-md
                    f16-h21
                    flex-x-center-center"id="saveCategory"
                    type="submit">
                    <span class="icon-plus-white icon-20 mr-26"></span>
                    Add New Category
                </button>
            </form>
        </div>
    </div>
</div>