<div class="dialog central-dialog" id="addTaskDialog">
  <div class="dialog-content bg-white option-dropdown">
    <div class="px-16 px-md-28 pt-18 pb-37">
      <div class="flex justify-content-end mb-35">
        <span
          class="icon-16 icon-close-grey cursor-pointer"
          data-close-modal="addTaskDialog"
        ></span>
      </div>
      <form action="" class="form-scroll">
        <div class="form-content-scroll border-bottom-none mb-48">
          <div class="form-group px-0 px-md-5 mb-11">
            <label for="task" class="f16-h21 text-grey-2">Service Task</label>
            <input
              type="text"
              placeholder="Random Maintenance Due"
              id="task"
              required
            />
          </div>
        </div>

        <button
          class="btn py-16 bg-primary text-center text-white w-100 radius-md f16-h21 flex-x-center-center"
          data-close-modal="addTaskDialog"
          type="button"
        >
          <span class="icon-plus-white icon-20 mr-26"></span>
          Add New Tak
        </button>
      </form>
    </div>
  </div>
</div>
