<div class="dialog central-dialog z-index-3" id="addServiceTypeDialog">
  <div class="dialog-content bg-white option-dropdown radius-15">
    <div class="px-16 px-md-28 pt-77 pb-37">
      <form action="" class="form-scroll">
        <div class="form-content-scroll mb-20">
          <div class="form-group px-0 px-md-5 mb-11">
            <label for="name" class="f16-h21 text-grey-2"
              >Service Type Title</label
            >
            <input
              type="text"
              placeholder="Random Maintenance Due"
              id="zip"
              required
            />
          </div>
        </div>

        <button
          class="
            btn
            py-16
            bg-primary
            text-center text-white
            w-100
            radius-md
            f16-h21
            flex-x-center-center
          "
          id="estateSuccessBtn"
          type="submit"
        >
          <span class="icon-plus-white icon-20 mr-26"></span>
          Add New Service Type
        </button>
      </form>
    </div>
  </div>
</div>
