<div class="dialog central-dialog" id="categoryDropdown">
  <div class="dialog-content bg-white option-dropdown radius-md pt-38">
    <ul class="form-content-scroll px-20 px-md-42 pb-20 list-unstyled m-0">
      <li class="mb-29 mb-29">
        <label class="custom-checkbox">
          <input type="checkbox" checked />
          <span class="checkbox-marker"></span>
        </label>
        <label for="" class="text-grey-2 f16-h21 ml-29">General</label>
      </li>
      <li class="mb-29 mb-29">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span class="checkbox-marker"></span>
        </label>
        <label for="" class="text-grey-2 f16-h21 ml-29">Spacio Elite</label>
      </li>
      <li class="mb-29 mb-29">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span class="checkbox-marker"></span>
        </label>
        <label for="" class="text-grey-2 f16-h21 ml-29">Spacio Pro</label>
      </li>
      <li class="mb-29 mb-29">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span class="checkbox-marker"></span>
        </label>
        <label for="" class="text-grey-2 f16-h21 ml-29">Spacio Deluxe</label>
      </li>
    </ul>
  </div>
</div>
