<div class="dialog central-dialog" id="cityDropdownDialog">
  <div class="dialog-content bg-white search-dropdown">
    <div class="mb-56 px-20 px-md-42 pt-38">
      <input
        type="text"
        placeholder="search"
        class="
          search-right search-grey
          mr-26
          radius-md
          border-grey-6 border-1x border-solid
          text-grey
          w-100
        "
      />
    </div>
    <ul
      class="
        form-content-scroll
        px-20 px-md-42
        pb-20
        list-unstyled
        m-0
        border-none
      "
    >
      <li class="mb-29 mb-29">
        <input type="checkbox" name="" checked id="" />
        <label for="" class="text-grey-2 f16-h21 ml-29">Lagos</label>
      </li>
      <li class="mb-29 mb-29">
        <input type="checkbox" name="" id="" />
        <label for="" class="text-grey-2 f16-h21 ml-29">Abuja</label>
      </li>
      <li class="mb-29 mb-29">
        <input type="checkbox" name="" id="" />
        <label for="" class="text-grey-2 f16-h21 ml-29">Enugu</label>
      </li>
      <li class="mb-29 mb-29">
        <input type="checkbox" name="" id="" />
        <label for="" class="text-grey-2 f16-h21 ml-29">Kaduna</label>
      </li>
    </ul>
  </div>
</div>
