<div
  class="dropdown-menu stack-up w-292"
  id="crudActionsDialog"
  data-modal-stackable="false"
>
  <div class="bg-white radius-md">
    <ul class="px-25 py-24 list-unstyled m-0">
      <li class="mb-29 flex-x-center" data-modal-target="addServiceDialog">
        <span class="icon icon-pencil-grey icon-20 mr-36"></span>
        <label for="" class="text-grey-2 f16-h21">Edit</label>
      </li>

      <li class="mb-29 flex-x-center">
        <span class="icon icon-cancel-black icon-20 mr-36"></span>
        <label for="" class="text-grey-2 f16-h21">Delete</label>
      </li>
    </ul>
  </div>
</div>
