<div class="dialog central-dialog" id="demandNoticeStatusDialog">
  <div class="bg-white dialog-content w-250 radius-15">
    <ul class="px-53 py-47 list-unstyled m-0">
      <li class="mb-29">
        <label for="" class="text-grey-2 f16-h21 text-capitalise">none</label>
      </li>
      <li class="mb-29">
        <label for="" class="text-grey-2 f16-h21 text-capitalise">Open</label>
      </li>
      <li class="mb-29">
        <label for="" class="text-grey-2 f16-h21 text-capitalise">Closed</label>
      </li>

      <li class="">
        <label for="" class="text-grey-2 f16-h21 text-capitalise">Random</label>
      </li>
    </ul>
  </div>
</div>
