<div class="dialog central-dialog" id="estateDropwonDialog">
  <div class="dialog-content bg-white search-dropdown radius-md">
    <div class="mb-56 px-20 px-md-42 pt-38">
      <input
        type="text"
        placeholder="search"
        class="
          search-right search-grey
          mr-26
          radius-md
          border-grey-6 border-1x border-solid
          text-grey
          w-100
        "
      />
    </div>
    <ul class="form-content-scroll px-20 px-md-42 pb-20 list-unstyled m-0">
      <li class="mb-29 mb-29">
        <input type="checkbox" name="" id="" />
        <label for="" class="text-grey-2 f16-h21 ml-29"
          >Ajao Int’l Estate - Lagos</label
        >
      </li>
      <li class="mb-29 mb-29">
        <input type="checkbox" name="" id="" />
        <label for="" class="text-grey-2 f16-h21 ml-29"
          >Tactical Apartments - Abuja</label
        >
      </li>
      <li class="mb-29 mb-29">
        <input type="checkbox" name="" id="" />
        <label for="" class="text-grey-2 f16-h21 ml-29"
          >Frost Hotel, Ajah - Lagos</label
        >
      </li>
      <li class="mb-29 mb-29">
        <input type="checkbox" name="" id="" />
        <label for="" class="text-grey-2 f16-h21 ml-29"
          >FCMB, Lekki Phase II - Lagos</label
        >
      </li>
    </ul>
    <div class="px-20 px-md-42">
      <span class="float-right flex-x-center mt-20 mb-22" id="addEstate">
        <span class="icon-plus-blue icon-16 mr-13 cursor-pointer"></span>
        <label class="text-primary f16-h21 cursor-pointer"
          >Add New Estate</label
        >
      </span>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
