<!-- do not remov - adds overlay to menu -->
<div class="overlay" id="overlay"></div>

<nav class="bg-white py-4 pr-46 top-menu flex-x-between align-items-center">
  <div class="pl-49">
    <i
      class="fas fa-bars menu-toggle mobile text-black-alt cursor-pointer mr-10"
      id="toggleMenu"
    ></i>
    <h1 class="text-light-grey f78-h98 text-weight-800 my-0">
      Facility Manager
    </h1>
  </div>
  <div class="flex-x-center">
    <span class="icon-notification bg-light-blue icon-50"></span>
    <span class="text-dark f24-h33 ml-100">Tactical Deen</span>
  </div>
</nav>
<div
  class="side-menu position-fixed top-0 bottom-0 left-0 bg-secondary pt-26"
  id="sideMenu"
>
  <div class="text-center mb-69">
    <img
      src="/assets/images/Spacio-logo-alt2.png"
      class="max-w-174 mr-61 ml-31"
      alt=""
    />
  </div>
  <div class="position-relative">
    <button
      class="btn radius-md px-34 py-20 bg-primary mr-45 ml-24 flex-x-center-center text-white f18-h24"
      type="button"
      data-modal-target="adNewDialog"
    >
      <span class="icon-plus-white mr-26 icon-20"></span>
      Add New
    </button>
  </div>
  <ul class="ml-47 mr-33 mt-62 p-0">
    <li class="list-unstyled mb-44">
      <a href="/facility-maanagers/pages/dashboard-summary.html" class="flex">
        <span class="icon-crosschair icon-32"></span>
        <span class="ml-33 text-white mb-2">Overview</span>
      </a>
    </li>
    <li class="list-unstyled mb-44">
      <a href="/facility-maanagers/pages/payment-summary.html" class="flex">
        <span class="icon-payment icon-32"></span>
        <span class="ml-33 text-white mb-2">Payment</span>
      </a>
    </li>
    <li class="list-unstyled mb-44">
      <a href="/facility-maanagers/pages/demand-notice.html" class="flex">
        <span class="icon-mail-white icon-32"></span>
        <span class="ml-33 text-white mb-2">Demand Notice</span>
      </a>
    </li>
    <li class="list-unstyled mb-44">
      <a href="/facility-maanagers/pages/services.html" class="flex">
        <span class="icon-services-white icon-32"></span>
        <span class="ml-33 text-white mb-2">Services</span>
      </a>
    </li>
    <li class="list-unstyled mb-44">
      <a href="/facility-maanagers/pages/users.html" class="flex">
        <span class="icon-user-group-white icon-32"></span>
        <span class="ml-33 text-white mb-2">Users</span>
      </a>
    </li>
    <li class="list-unstyled mb-44">
      <a href="/facility-maanagers/pages/work-order.html" class="flex">
        <span class="icon-keyboard-white icon-32"></span>
        <span class="ml-33 text-white mb-2">Work Order</span>
      </a>
    </li>
    <li class="list-unstyled">
      <a href="/facility-maanagers/pages/estates.html" class="flex">
        <span class="icon-home-white icon-32"></span>
        <span class="ml-33 text-white mb-2">Estate</span>
      </a>
    </li>
  </ul>
  <div class="list-unstyled mr-63 ml-36 mt-210 mb-91">
    <button class="btn radius-md border-grey px-51 py-13 text-white f18-h24">
      Logout
    </button>
  </div>
</div>

<!-- dialog box to add new items (full html in partials folder)-->
<new-item-popup-component></new-item-popup-component>
<new-resident-component></new-resident-component>
<new-user-component></new-user-component>
<new-facility-component></new-facility-component>
<new-property-component></new-property-component>
<upload-component></upload-component>
<estate-dropdown-component></estate-dropdown-component>
<new-service-type-component></new-service-type-component>
<new-service-component></new-service-component>
<new-estate-component></new-estate-component>
<city-dropdown-component></city-dropdown-component>
<new-service-component></new-service-component>
<add-estate-success-component></add-estate-success-component>
<new-tenure-component></new-tenure-component>
<category-dropdown-component></category-dropdown-component>
<new-category-component></new-category-component>
<service-type-dropdown-component></service-type-dropdown-component>
<new-work-order-component></new-work-order-component>
