<div class="dropdown-menu stack-up w-292" id="orderStatusDialog">
  <div class="bg-white radius-md">
    <ul class="px-25 py-24 list-unstyled m-0">
      <li class="mb-29">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span class="checkbox-marker"></span>
        </label>
        <label for="" class="text-grey-2 f16-h21 ml-29">Active</label>
      </li>
      <li class="mb-29">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span class="checkbox-marker"></span>
        </label>
        <label for="" class="text-grey-2 f16-h21 ml-29">Suspended</label>
      </li>
      <li class="">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span class="checkbox-marker"></span>
        </label>
        <label for="" class="text-grey-2 f16-h21 ml-29">Completed</label>
      </li>
    </ul>
  </div>
</div>
