<div class="dialog central-dialog" id="tenureDropdown">
  <div class="dialog-content bg-white option-dropdown radius-md">
    <ul class="form-content-scroll px-20 px-md-42 pb-20 list-unstyled m-0">
      <li class="mb-29 mb-29">
        <label class="custom-checkbox">
          <input type="checkbox" checked />
          <span class="checkbox-marker"></span>
        </label>
        <label for="" class="text-grey-2 f16-h21 ml-29">30 Days</label>
      </li>
      <li class="mb-29 mb-29">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span class="checkbox-marker"></span>
        </label>
        <label for="" class="text-grey-2 f16-h21 ml-29">90 Days</label>
      </li>
      <li class="mb-29 mb-29">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span class="checkbox-marker"></span>
        </label>
        <label for="" class="text-grey-2 f16-h21 ml-29">6 months</label>
      </li>
      <li class="mb-29 mb-29">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span class="checkbox-marker"></span>
        </label>
        <label for="" class="text-grey-2 f16-h21 ml-29">Annual</label>
      </li>
    </ul>
    <div class="px-20 px-md-42">
      <span class="float-right flex-x-center mt-20 mb-22" id="addTenure">
        <span class="icon-plus-blue icon-16 mr-13 cursor-pointer"></span>
        <label class="text-primary f16-h21 cursor-pointer"
          >Add New Tenure</label
        >
      </span>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
