/** Color Variables **/
:root {
  --primary: #1b75bc;
  --secondary: #52506e;
  --white: #fff;
  --off-white: #f9ffff;
  --yellow: rgba(230, 208, 10, 0.925);
  --black: #000;
  --black-alt: #494949;
  --orange: #fec545;
  --coral: rgb(241, 76, 16);
  --danger: #ff0000;
  --light-green: #02a11226;
  --green: #02a112;
  --blue: #43abf0;
  --blue2: #1565d8;
  --blue3: #0057ff;
  --light-blue: #43abf026;
  --dark-grey: #888888;
  --dark-light: #eeeeee;
  --grey2: #696f79;
  --black: #000000;
  --dark: #4d4d4d;
  --outlet: #e5e5e5;
  --purple: #951fde;
  --grey: #8692a6;
  --light-grey: #f5f5f5f5;
  --light-grey-2: #bdbdbd;
  --grey-lighter: #fafafa;
  --grey3: #c4c4c4;
  --grey4: #adadad;
  --grey5: #d6d6d6;
  --border: #dadada;
}

$baseFontSizePx: 16px;
$gutter: 1rem;

// spacing
$grid-breakpoints-up: (
  xsm: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
) !default;
//NB: Viewports less than 576px have no lower limit, any viewport
// fits their by default unless a media query is provided

$grid-breakpoints-down: (
  xsm: 576px,
  sm: 768px,
  md: 992px,
  lg: 1199px,
  xl: 1400px,
  xxl: 1600px,
) !default;
//NB: Viewports greater greater than 1399.98px have no upper limit

$infix-group: (
  phone: sm,
  // Small devices (landscape phones, 576px and up)
  tablet: md,
  // Medium devices (tablets, 768px and up)
  ipad: lg,
  // Large devices (desktops, 992px and up)
  laptop: 1200px,
  // X-Large devices (large desktops, 1200px and up)
  desktop: xxl 1400px,
  // XX-Large devices (larger desktops, 1400px and up)
) !default;

// ** Layout sizing variables
$layouts: (
  2: 16.66%,
  3: 25%,
  4: 33.33%,
  5: 41.66%,
  6: 50%,
  7: 58.33%,
  8: 66.66%,
  9: 75%,
  10: 83.33%,
  12: 100%,
) !default;

// ** Spacing variables
$spacers: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  10: 10px,
  11: 11px,
  13: 13px,
  12: 12px,
  14: 14px,
  15: 15px,
  16: 16px,
  18: 18px,
  20: 20px,
  21: 21px,
  22: 22px,
  23: 23px,
  24: 24px,
  25: 25px,
  26: 26px,
  27: 27px,
  28: 28px,
  29: 29px,
  30: 30px,
  31: 31px,
  32: 32px,
  33: 33px,
  34: 34px,
  36: 36px,
  38: 38px,
  40: 40px,
  42: 42px,
  44: 44px,
  45: 45px,
  46: 46px,
  47: 47px,
  48: 48px,
  49: 49px,
  50: 50px,
  51: 51px,
  54: 54px,
  55: 55px,
  56: 56px,
  58: 58px,
  60: 60px,
  61: 61px,
  62: 62px,
  64: 64px,
  68: 68px,
  69: 69px,
  72: 72px,
  74: 74px,
  77: 77px,
  79: 79px,
  80: 80px,
  82: 82px,
  83: 83px,
  84: 84px,
  86: 86px,
  91: 91px,
  93: 93px,
  96: 96px,
  100: 100px,
  104: 104px,
  108: 108px,
  140: 140px,
  144: 144px,
  148: 148px,
  154: 154px,
  156: 156px,
  158: 158px,
  168: 168px,
  210: 210px,
  308: 308px,
  321: 321px,
  331: 331px,
  364: 364px,
  451: 451px,
) !default;
