.progress-bar {
  background: var(--grey2);
  height: 1px;
  width: 100%;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    position: absolute;
    content: '';
    left: 0;
    top: -1px;
    bottom: -1px;
    width: 85%;
    border-radius: 3px;
    left: 0;
    background: var(--primary);
  }
}

@for $size from 0 through 100 {
  &.progress-#{$size} {
    &::before {
      width: #{$size + '%'};
    }
  }
}
