.border-grey {
  border-color: var(--grey) !important;
}
.border-grey6 {
  border-color: var(--grey6) !important;
}
.border-grey-6 {
  border-color: var(--grey6) !important;
}
.border-1x {
  border-width: 1px;
}
.border-none {
  border: none !important;
}
.border-solid {
  border-style: solid;
}
.border-grey {
  border: 1px solid var(--grey);
}
.border-primary {
  border: 1px solid var(--primary);
}
.border-dashed-primary {
  border: 1px dashed var(--primary);
}
.b-b-s-1x {
  border-bottom: 1px solid;
}
.radius-sm {
  border-radius: 3px;
}
.radius-md {
  border-radius: 6px;
}
.radius-lg {
  border-radius: 12px;
}
.radius-7 {
  border-radius: 7px;
}
.radius-20 {
  border-radius: 7px;
}
.radius-15 {
  border-radius: 15px;
}
.cursor-pointer {
  cursor: pointer !important;
}
.rounded {
  border-radius: 50%;
}
.border-dashed-grey {
  border: 1px dashed var(--light-grey-2);
}
