.border-none {
  border: none;
}
.border-bottom-none {
  border-bottom: none;
}
.radius-none {
  border-radius: 0;
}
.border-grey {
  border-color: var(--grey) !important;
}
.border-grey6,
.border-grey-6 {
  border-color: var(--grey6) !important;
}

.border-1x {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}
.border-grey {
  border: 1px solid var(--grey);
}

.border-bottom-grey {
  border-bottom: 1px solid var(--grey);
}
.border-bottom-white {
  border-bottom: 1px solid var(--white);
}
.border-white {
  border: 1px solid var(--white);
}
.border-primary {
  border: 1px solid var(--primary);
}
.border-dashed-primary {
  border: 1px dashed var(--primary);
}
.b-b-s-1x {
  border-bottom: 1px solid;
}
.radius-sm {
  border-radius: 3px;
}
.radius-md {
  border-radius: 6px;
}
.radius-lg {
  border-radius: 12px;
}
.radius-7 {
  border-radius: 7px;
}
.radius-5 {
  border-radius: 5px;
}
.radius-10 {
  border-radius: 10px;
}
.radius-20 {
  border-radius: 7px;
}
.radius-15 {
  border-radius: 15px;
}
.radius-12 {
  border-radius: 12px;
}
.cursor-pointer {
  cursor: pointer !important;
}
.rounded {
  border-radius: 50%;
}
.border-dashed-grey {
  border: 1px dashed var(--light-grey-2);
}
.radius-top-left-box {
  border-radius: 0px 15px 15px 15px;
}
