.bg-primary {
  background: var(--primary);
}
.bg-secondary {
  background: var(--secondary);
}
.bg-black {
  background: var(--black);
}
.bg-white {
  background: var(--white);
}
.bg-off-white {
  background: var(--off-white);
}
.bg-light-blue {
  background: var(--light-blue);
}
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.text-white {
  color: var(--white);
}
.text-blue {
  color: var(--blue);
}
.text-deep-grey {
  color: var(--deep-grey);
}
.text-yellow {
  color: var(--yellow);
}
.text-black {
  color: var(--black);
}
.text-green {
  color: var(--green);
}
.text-dark {
  color: var(--dark);
}
.text-coral {
  color: var(--coral);
}
.text-grey {
  color: var(--grey);
}
.text-dark-grey {
  color: var(--dark-grey);
}
.text-light-grey {
  color: var(--light-grey);
}
.text-light-grey-2 {
  color: var(--light-grey-2);
}
.text-grey-2 {
  color: var(--grey2);
}
.text-grey-4 {
  color: var(--grey4);
}
