.bg-primary {
  background: var(--primary);
}
.bg-secondary {
  background: var(--secondary);
}
.bg-black {
  background: var(--black);
}
.bg-white {
  background: var(--white);
}
.bg-light-blue {
  background: var(--light-blue);
}
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.text-white {
  color: var(--white);
}
.text-yellow {
  color: var(--yellow);
}
.text-black {
  color: var(--black);
}

.text-dark {
  color: var(--dark);
}
