.dialog {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  &.side-dialog {
    .dialog-content {
      margin: 16.5vh 0 0 rem(240);
      border-radius: 0px 15px 15px 15px;
    }
  }
  &.central-dialog {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include responsive-max(justify-content, flex-start, sm);
    @include responsive-max(padding-top, 3rem, sm);
  }
  &.central-dialog-lg {
    .dialog-content {
      margin: 4rem auto;
    }
  }
}
.dialog-content {
  @include responsive-max(max-width, 95%, sm);
  @include responsive-max(margin-bottom, 5rem, sm);
  hr {
    border-top: 1px solid var(--grey6);
    margin: rem(39) 0 rem(39);
  }
  .form-content-scroll {
    max-height: rem(410);
    overflow-y: auto;
    @include hide-scrollbar;
    li {
      @extend .flex-x-center;
    }
  }

  &.dialog-xsm {
    max-width: rem(364);
  }
  &.dialog-sm {
    width: rem(518);
  }
  &.dialog-md {
    width: rem(570);
  }
  &.dialog-md-alt {
    width: rem(857);
  }
  &.dialog-lg {
    width: rem(1171);
  }
  &.search-dropdown,
  &.option-dropdown {
    width: rem(426);
    &.search-dialog {
      width: rem(589);
      ul {
        border-bottom: none !important;
      }
    }
    .form-content-scroll {
      padding-top: 1px;
      max-height: rem(269) !important;
      border-bottom: 0.6px solid var(--grey6);
      &.max-h-312 {
        max-height: rem(308) !important;
      }
    }
  }
}
.max-h-120 {
  max-height: rem(120);
  overflow-y: auto;
  @include hide-scrollbar;
}
.property-select {
  &.active {
    background: var(--primary);
    p {
      color: var(--white) !important;
    }
  }
  &:hover,
  &.active {
    .icon-suitcase-black {
      @extend .icon-suitcase-white;
    }
    .icon-house-black {
      @extend .icon-house-white;
    }
    .icon-flag-black {
      @extend .icon-flag-white;
    }
  }
}

#dialog-overlay {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
