// @import '../functions/function';

.hidden {
  display: none;
  &-sm {
    @media screen and (max-width: breakpoint-max(sm)) {
      display: none;
    }
  }
  &-lg {
    @media screen and (max-width: breakpoint-max(lg)) {
      display: none;
    }
  }
}
.shadow-md {
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
}
.flex {
  display: flex;
}
.d-block {
  display: block !important;
}
.block {
  display: block;
  &-sm {
    @media screen and (max-width: breakpoint-max(sm)) {
      display: block;
    }
  }
}
.justify-content-end-md {
  @media screen and (min-width: breakpoint-min(md)) {
    justify-content: flex-end;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-between {
  justify-content: space-between;
}
.flex-x-center {
  display: flex;
  align-items: center;
}
.flex-x-between {
  display: flex;
  justify-content: space-between;
}
.justify-content-end {
  justify-content: end;
}
.flex-x-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-items-end {
  align-items: flex-end;
}
.flex-y-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-y-center-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.flex-x-end {
  display: flex;
  justify-content: flex-end;
}
.list-unstyled {
  list-style: none;
}
.shadow-none {
  box-shadow: none;
}
.hover-primary {
  cursor: pointer;
  &:hover {
    background: var(--primary) !important;
    p {
      color: var(--white) !important;
    }
  }
}
.hover-zoom {
  img,
  h2 {
    transition: all 0.4s ease-in-out;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
    h2 {
      display: flex !important;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 767.8px) {
    display: block;
  }
}

.page-padding {
  padding-left: 7%;
  padding-right: 7%;
}
.border-half-line {
  &::after {
    content: '';
    position: absolute;
    right: 0;
    left: 30%;
    bottom: -10px;
    height: 4px;
    border-radius: 2px;
    background: var(--yellow);
  }
}

.flex-column {
  flex-direction: column;
}
.toggle-open {
  transform: translateX(0) !important;
}
.badge {
  &-success {
    background: rgba(2, 161, 18, 0.15);
    color: var(--green);
  }
  &-border-danger,
  &-outline-danger {
    border: 1px solid var(--danger);
    color: var(--danger);
  }
  &-border-primary,
  &-outline-primary {
    border: 1px solid var(--blue3);
    color: var(--blue3);
  }
  &-border-success,
  &-outline-success {
    border: 1px solid var(--success);
    color: var(--success);
  }
  &-warning {
    background: rgba(255, 102, 0, 0.15);
    color: var(--orange);
  }
  &-primary {
    background: rgba(67, 171, 240, 0.15);
    color: var(--primary);
  }
  &-intermediate {
    background: rgba(149, 31, 222, 0.15);
    color: var(--purple);
  }
}

.summary-listing {
  li {
    margin-bottom: rem(30);
  }
  &.list-border-bottom {
    li {
      padding: rem(17) 0 rem(33) 0;
      margin-bottom: 0;
      border-bottom: 1px solid var(--border);
    }
  }
  li {
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
.no-padding {
  padding: none !important;
}
.drag-drop {
  border: 1px dashed var(--primary);
  border-radius: 7px;
  padding: rem(46) rem(20);
  @extend .flex-y-center-center;
  background: var(--primary-trans-light);
}
.clearfix {
  overflow: auto;
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.pricing-card {
  ul {
    li {
      padding-left: 40px;
      color: var(--black-alt);
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 22px;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        background: url(/assets/icons/check-blue.svg);
        background-size: contain;
        background-repeat: no-repeat;
        left: 0;
        top: 3px;
        height: 20px;
        width: 20px;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &:nth-of-type(2) {
    ul {
      li {
        color: var(--white);
        &::before {
          background: url(/assets/icons/check-white.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.chat {
  &-item {
    display: flex;
    .chat-message {
      max-width: rem(263);
      padding: 9px 12px 11px 21px;
    }
    &.self {
      @extend .flex-column;
      align-items: flex-end;
      .chat-message {
        background: var(--neon);
        border-radius: 15px 15px 15px 5px;
      }
    }
    &.not-self {
      @extend .flex-column;
      align-items: flex-start;
      .chat-message {
        background: var(--white);
        border-radius: 5px 15px 15px 15px;
      }
    }
  }
}
