[class^='icon'] {
  @extend .flex-x-center-center;
  &::after {
    position: absolute;
  }
}
.icon {
  &-45 {
    height: 45px;
    width: 45px;
  }
  &-50 {
    height: 50px;
    width: 50px;
  }
  &-17 {
    height: auto;
    width: 18px;
  }
  &-20 {
    height: 20px;
    width: 20px;
  }
  &-22 {
    height: 22px;
    width: 22px;
  }
  &-32 {
    height: 32px;
    width: 22px;
  }
  &-13 {
    height: 13px;
    width: 13px;
  }
  &-10 {
    height: auto;
    width: 10px;
  }
  &-user-white {
    &::after {
      content: url(/assets/icons/user-white.svg);
    }
  }
  &-user-black {
    &::after {
      content: url(/assets/icons/user-black.svg);
    }
  }
  &-download {
    &::after {
      content: url(/assets/icons/download.png);
    }
  }
  &-arrow-left {
    height: 22px;
    width: 18px;
    &::after {
      content: url(/assets/icons/arrow-left.png);
    }
  }
  &-caret-left {
    &::after {
      content: url(/assets/icons/caret-left.png);
    }
  }
  &-services-white {
    &::after {
      content: url(/assets/icons/CirclesThree-white.svg);
    }
  }
  &-services-black {
    &::after {
      content: url(/assets/icons/CirclesThree-black.svg);
    }
  }
  &-keyboard-white {
    &::after {
      content: url(/assets/icons/Keyboard-white.svg);
    }
  }
  &-keyboard-black {
    &::after {
      content: url(/assets/icons/keyboard-black.svg);
    }
  }
  &-layer-white {
    &::after {
      content: url(/assets/icons/layer-white.svg);
    }
  }
  &-layer-black {
    &::after {
      content: url(/assets/icons/layer-black.svg);
    }
  }
  &-mail-white {
    &::after {
      content: url(/assets/icons/mail-white.svg);
    }
  }
  &-mail-black {
    &::after {
      content: url(/assets/icons/mail-black.svg);
    }
  }
  &-home-white {
    &::after {
      content: url(/assets/icons/home-white.svg);
    }
  }
  &-home-black {
    &::after {
      content: url(/assets/icons/home-black.svg);
    }
  }
  &-user-group-white {
    &::after {
      content: url(/assets/icons/user-group-white.svg);
    }
  }
  &-user-group-black {
    &::after {
      content: url(/assets/icons/user-group-black.svg);
    }
  }
  &-payment {
    &::after {
      content: url(/assets/icons/Ticket.png);
    }
  }
  &-plus {
    &::after {
      content: url(/assets/icons/plus.png);
    }
  }
  &-crosschair {
    &::after {
      content: url(/assets/icons/Crosshair.png);
    }
  }
  &-notification {
    &::after {
      content: url(/assets/icons/notification.png);
    }
  }
  &-briefcase {
    &::after {
      content: url(/assets/icons/briefcase.png);
    }
  }
  &-arrow-right {
    &::after {
      content: url(/assets/icons/arrow-right.png);
    }
  }
}
