[class^='icon'] {
  @extend .flex-x-center-center;
  position: relative;
  &::after {
    position: absolute;
  }
}
.icon {
  &-45 {
    height: 45px;
    width: 45px;
  }
  &-50 {
    height: 50px;
    width: 50px;
  }
  &-17 {
    height: auto;
    width: 17px;
  }
  &-16 {
    height: 16px;
    width: 16px;
  }
  &-16-18 {
    height: 18px;
    width: 16px;
  }
  &-16-4 {
    height: 4px;
    width: 16px;
  }
  &-18-22 {
    height: 22px;
    width: 18px;
  }
  &-14-19 {
    height: 14px;
    width: 19px;
  }
  &-22-18 {
    height: 22px;
    width: 18px;
  }
  &-24-16 {
    height: 24px;
    width: 16px;
  }
  &-20 {
    height: 20px;
    width: 20px;
  }
  &-22 {
    height: 22px;
    width: 22px;
  }
  &-23-20 {
    height: 23px;
    width: 20px;
  }
  &-24 {
    height: 24px;
    width: 24px;
  }
  &-25-24 {
    height: 25px;
    width: 24px;
  }
  &-26 {
    height: 26px;
    width: auto;
  }
  &-29 {
    height: 29px;
    width: auto;
  }
  &-29-23 {
    height: 29px;
    width: 23px;
  }
  &-32 {
    height: 32px;
    width: 22px;
  }
  &-38 {
    height: 38px;
    width: 38px;
  }
  &-13 {
    height: 13px;
    width: 13px;
  }
  &-10 {
    height: auto;
    width: 10px;
  }
  &.icon-23-28 {
    height: 28px;
    width: 23px;
  }
  &-user-white {
    &::after {
      content: url(/assets/icons/user-white.svg);
    }
  }
  &-anchor-down {
    &::after {
      content: url(/assets/icons/anchor-down.svg);
    }
  }
  &-wallet-green {
    &::after {
      content: url(/assets/icons/wallet-green.svg);
    }
  }
  &-wallet-blue {
    &::after {
      content: url(/assets/icons/wallet-blue.svg);
    }
  }
  &-info-warning {
    &::after {
      content: url(/assets/icons/warning.svg);
    }
  }
  &-reply {
    &::after {
      content: url(/assets/icons/Reply.svg);
    }
  }
  &-trash {
    &::after {
      content: url(/assets/icons/Trashcan.svg);
    }
  }
  &-ellipse {
    &::after {
      content: url(/assets/icons/ellipse.svg);
    }
  }
  &-user-add {
    &::after {
      content: url(/assets/icons/user-add.svg);
    }
  }
  &-overview-white {
    &::after {
      content: url(/assets/icons/overview-white.svg);
    }
  }
  &-overview-black {
    &::after {
      content: url(/assets/icons/overview-black.svg);
    }
  }
  &-overview-yellow {
    &::after {
      content: url(/assets/icons/overview-yellow.svg);
    }
  }
  &-user-black {
    &::after {
      content: url(/assets/icons/user-black.svg);
    }
  }
  &-download {
    &::after {
      content: url(/assets/icons/download.png);
    }
  }
  &-download-black {
    &::after {
      content: url(/assets/icons/download-black.svg);
    }
  }
  &-circle-left {
    &::after {
      content: url(/assets/icons/ArrowCircleleft.svg);
    }
  }
  &-circle-down {
    &::after {
      content: url(/assets/icons/circle-down.svg);
    }
  }
  &-circle-right {
    &::after {
      content: url(/assets/icons/ArrowCircleRight.svg);
    }
  }
  &-arrow-left {
    height: 22px;
    width: 18px;
    &::after {
      content: url(/assets/icons/arrow-left.png);
    }
  }
  &-caret-left {
    &::after {
      content: url(/assets/icons/caret-left.png);
    }
  }
  &-services-white {
    &::after {
      content: url(/assets/icons/CirclesThree-white.svg);
    }
  }
  &-services-black {
    &::after {
      content: url(/assets/icons/CirclesThree-black.svg);
    }
  }
  &-keyboard-white {
    &::after {
      content: url(/assets/icons/Keyboard-white.svg);
    }
  }
  &-keyboard-black {
    &::after {
      content: url(/assets/icons/keyboard-black.svg);
    }
  }
  &-layer-white {
    &::after {
      content: url(/assets/icons/layer-white.svg);
    }
  }
  &-layer-black {
    &::after {
      content: url(/assets/icons/layer-black.svg);
    }
  }
  &-mail-white {
    &::after {
      content: url(/assets/icons/mail-white.svg);
    }
  }
  &-mail-black {
    &::after {
      content: url(/assets/icons/mail-black.svg);
    }
  }
  &-home-white {
    &::after {
      content: url(/assets/icons/home-white.svg);
    }
  }
  &-home-black {
    &::after {
      content: url(/assets/icons/home-black.svg);
    }
  }
  &-user-group-white {
    &::after {
      content: url(/assets/icons/user-group-white.svg);
    }
  }
  &-user-group-black {
    &::after {
      content: url(/assets/icons/user-group-black.svg);
    }
  }
  &-payment {
    &::after {
      content: url(/assets/icons/Ticket.png);
    }
  }
  &-attchment-black {
    &::after {
      content: url(/assets/icons/attachment-black.svg);
    }
  }
  &-plus {
    &::after {
      content: url(/assets/icons/plus.png);
    }
  }
  &-plus-white {
    &::after {
      content: url(/assets/icons/plus-white.svg);
    }
  }
  &-plus-blue {
    &::after {
      content: url(/assets/icons/plus-blue.svg);
    }
  }
  &-folder {
    &::after {
      content: url(/assets/icons/folder-black.svg);
    }
  }
  &-file-upload {
    &::after {
      content: url(/assets/icons/FileArrowUp.svg);
    }
  }
  &-file {
    &::after {
      content: url(/assets/icons/file.svg);
    }
  }
  &-document-black {
    &::after {
      content: url(/assets/icons/document-black.svg);
    }
  }
  &-document-alt-black {
    &::after {
      content: url(/assets/icons/document-alt-black.svg);
    }
  }
  &-inbox-black {
    &::after {
      content: url(/assets/icons/inbox-black.svg);
    }
  }
  &-send-black {
    &::after {
      content: url(/assets/icons/send-black.svg);
    }
  }
  &-pencil-grey {
    &::after {
      content: url(/assets/icons/pencil-black.svg);
    }
  }
  &-pencil-alt-white {
    &::after {
      content: url(/assets/icons/pencil-alt.svg);
    }
  }
  &-check-green {
    &::after {
      content: url(/assets/icons/CheckCircle-green.svg);
    }
  }
  &-new-tab-red {
    &::after {
      content: url(/assets/icons/new-link-red.svg);
    }
  }
  &-new-tab-green {
    &::after {
      content: url(/assets/icons/new-link-green.svg);
    }
  }
  &-new-tab-blue {
    &::after {
      content: url(/assets/icons/new-link-blue.svg);
    }
  }
  &-house-white {
    &::after {
      content: url(/assets/icons/house-white.svg);
    }
  }
  &-house-blue {
    &::after {
      content: url(/assets/icons/house-blue.svg);
    }
  }
  &-house-black {
    &::after {
      content: url(/assets/icons/house-black.svg);
    }
  }
  &-calendar-black {
    &::after {
      content: url(/assets/icons/CalendarBlack.svg);
    }
  }
  &-calendar-alt {
    &::after {
      content: url(/assets/icons/calendar-alt.svg);
    }
  }
  &-cancel {
    &::after {
      content: url(/assets/icons/cancel.svg);
    }
  }
  &-flag-white {
    &::after {
      content: url(/assets/icons/flag-white.svg);
    }
  }
  &-36-34 {
    height: 36px;
    width: 34px;
  }
  &-flag-warning {
    &::after {
      content: url(/assets/icons/flag-warning.svg);
    }
  }
  &-arrow-circle-right-blue {
    &::after {
      content: url(/assets/icons/arrow-circle-right-blue.svg);
    }
  }
  &-check-circle-green {
    &::after {
      content: url(/assets/icons/check-green.svg);
    }
  }
  &-flag-black {
    &::after {
      content: url(/assets/icons/flag-black.svg);
    }
  }
  &-suitcase-white {
    &::after {
      content: url(/assets/icons/suitcase-white.svg);
    }
  }
  &-suitcase-black {
    &::after {
      content: url(/assets/icons/suitcase-black.svg);
    }
  }
  &-crosschair {
    &::after {
      content: url(/assets/icons/Crosshair.png);
    }
  }
  &-notification {
    &::after {
      content: url(/assets/icons/notification.png);
    }
  }
  &-briefcase {
    &::after {
      content: url(/assets/icons/briefcase.png);
    }
  }
  &-arrow-right {
    &::after {
      content: url(/assets/icons/arrow-right.png);
    }
  }
  &-arrow-right-white {
    &::after {
      content: url(/assets/icons/arrow-right-white.svg);
    }
  }
}
