[class^='icon'] {
  @extend .flex-x-center-center;
  &::after {
    position: absolute;
  }
}
.icon {
  &-45 {
    height: 45px;
    width: 45px;
  }
  &-50 {
    height: 50px;
    width: 50px;
  }
  &-20 {
    height: 20px;
    width: 20px;
  }
  &-32 {
    height: 32px;
    width: 22px;
  }
  &-13 {
    height: 13px;
    width: 13px;
  }
  &-10 {
    height: auto;
    width: 10px;
  }
  &-user {
    &::after {
      content: url(/assets/icons/user.png);
    }
  }
  &-caret-left {
    &::after {
      content: url(/assets/icons/caret-left.png);
    }
  }
  &-services {
    &::after {
      content: url(/assets/icons/CirclesThree.png);
    }
  }
  &-keyboard {
    &::after {
      content: url(/assets/icons/Keyboard.png);
    }
  }
  &-mail {
    &::after {
      content: url(/assets/icons/EnvelopeOpen.png);
    }
  }
  &-house {
    &::after {
      content: url(/assets/icons/HouseLine.png);
    }
  }
  &-user-group {
    &::after {
      content: url(/assets/icons/user-group.png);
    }
  }
  &-payment {
    &::after {
      content: url(/assets/icons/Ticket.png);
    }
  }
  &-plus {
    &::after {
      content: url(/assets/icons/plus.png);
    }
  }
  &-crosschair {
    &::after {
      content: url(/assets/icons/Crosshair.png);
    }
  }
  &-notification {
    &::after {
      content: url(/assets/icons/notification.png);
    }
  }
  &-briefcase {
    &::after {
      content: url(/assets/icons/briefcase.png);
    }
  }
  &-arrow-right {
    &::after {
      content: url(/assets/icons/arrow-right.png);
    }
  }
}
