.form-group {
  margin-bottom: rem(24);
  label {
    margin-bottom: rem(13);
    display: block;
  }
  input,
  select {
    display: block;
    width: 100%;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: 50%;
}

input,
select {
  border: 1px solid var(--grey2);
  padding: rem(22) rem(30);
  box-sizing: border-box;
  border-radius: 6px;
  color: var(--black-alt);
  &::placeholder,
  option {
    color: var(--black-alt);
  }
  &:hover,
  &:active,
  &.focus-visible {
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  }
  &:focus:required {
    &:valid {
      border: 1px solid var(--blue2);
    }
  }
}
input.otp {
  width: 14.5%;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  height: rem(64);
  padding: rem(7) rem(8);
  border: none;
  background: var(--dark-light);
}
input {
  &[class*='calendar'] {
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
  &.calendar {
    &-blue {
      background-image: url('/assets/icons/calendar-blue.svg');
    }
    &-black {
      background-image: url('/assets/icons/CalendarBlack.svg');
    }
    &-right {
      background-position-x: calc(100% - 12px);
    }
    &-left {
      background-position-x: rem(12);
    }
  }
}
input {
  &[class*='search'] {
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
  &.search {
    &-blue {
      background-image: url('/assets/icons/search-blue.svg');
    }
    &-grey {
      background-image: url('/assets/icons/search-grey.svg');
    }
    &-right {
      background-position-x: calc(100% - 22px);
    }
    &-left {
      background-position-x: rem(14);
    }
  }
}
.search-dropdown {
  input {
    &[class*='search'] {
      padding: rem(13) rem(50) rem(13) rem(15);
    }
    &::placeholder {
      color: var(--grey6);
    }
  }
}
.filter-inputs {
  input,
  select {
    padding: rem(14) rem(16) rem(14) rem(62);
  }
  input.search {
    min-width: rem(372);
  }
  input.filter {
    max-width: rem(123);
    background-image: url('/assets/icons/filter.png');
    background-repeat: no-repeat;
    background-position-x: rem(23);
    background-position-y: 50%;
  }
}

.checkbox-width {
  height: rem(22);
  width: rem(22);
}
// custom checkbox
.custom-checkbox {
  position: relative;
  cursor: pointer;
  @extend .checkbox-width;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: -1px; // to remove trailing space and balance with label;
}

// Hide browser's default checkbox
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

// Create a custom checkbox  with checkbox-marker
.checkbox-marker {
  position: absolute;
  top: 0;
  left: 0;
  @extend .checkbox-width;
  background-color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--grey6);
}
.custom-checkbox:hover input ~ .checkbox-marker {
  border: 1px solid var(--primary);
}

// When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkbox-marker {
  background-color: var(--blue2);
  border: 1px solid var(--grey6);
}

// Create the checkbox-marker/indicator (hidden when not checked)
.checkbox-marker:after {
  content: '';
  position: absolute;
  display: none;
}

// Show the checkbox-marker when checked
.custom-checkbox input:checked ~ .checkbox-marker:after {
  display: block;
}

// Style the checkbox-marker/indicator */
.custom-checkbox .checkbox-marker:after {
  left: 7.8px;
  top: 3.5px;
  width: 5px;
  height: 11px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// to remove arrows in input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.show-pwd {
  right: rem(23);
}

/* Hide Calendar Icon In Chrome */
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
