.side-menu {
  max-width: rem(266);
  z-index: 3;
  overflow-y: auto;
  ul {
    a {
      align-items: center;
    }
  }
  .mobile {
    display: none;
  }
  .sidemenu-toggle {
    display: none;
    // @include responsive(display, block, ipad);
  }
  @media screen and (max-width: breakpoint-max(md)) {
    .mobile {
      display: block;
    }
    .sidemenu-toggle {
      display: block;
      @include position(absolute, 1rem, 20%, '', '');
    }
    transform: translateX(-150%);
    transition: transform 700ms ease-in-out;
  }
}
.top-menu {
  padding-left: rem(266);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  .mobile {
    display: none;
  }
  @media screen and (max-width: breakpoint-max(md)) {
    padding: 0;
    overflow: hidden;
    .mobile {
      display: block;
    }
  }
}
// OVERLAY ON MENU TOGGLE
.overlay {
  @include position(fixed, 0, 0, 0, 0);
  z-index: 3;
  display: none;
  @include property-animation(display);
  background: rgba(0, 0, 0, 0.4) !important;
}

.motion-in {
  transform: translateX(0) !important;
}
