.message-outlet {
  padding-top: 128px !important;
  padding-right: 0;
  min-height: 100vh;
  @media screen and (max-width: breakpoint-max(xxl)) {
    padding-top: 86px !important;
  }
}
.unread {
  &::before {
    @extend .notification-icon;
    background: var(--orange-ddep);
  }
}
.read {
  &::before {
    @extend .notification-icon;
    background: var(--grey);
  }
}
.notification-icon {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  left: 8px;
  margin-top: 3px;
  border-radius: 50%;
}
.message-menu {
  padding-top: rem(63);
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    &.active-message-action {
      width: max-content;
      border-radius: 6px;
      background: var(--primary);
      color: var(--white);
      padding: 20px 22px;
      margin-bottom: 35px;
      @extend .f18-h24;
      @extend .text-weight-700;
    }
  }
}
.message-listing {
  max-width: rem(342);
  input.search {
    padding: rem(7) rem(8) rem(21) rem(38);
  }
  .message-item {
    padding: 33px 21px 17px 38px;
    margin-bottom: 8px;
    position: relative;
  }
}
.message-detail {
  border-radius: 8.76099px;
  &.read,
  &.unread {
    &::before {
      left: 43px;
    }
  }
  .message-body {
    height: rem(441);
    @include hide-scrollbar;
  }
  .message-doc {
    border: 1px solid var(--grey8);
    border-radius: 5px;
  }
}
