.onboarding-bg {
  //   background: url(/assets/Onboarding-stage-1.svg);
  //   background-size: cover;
  //   background-repeat: no-repeat;
  overflow-x: hidden;
  img.logo {
    width: 30%;
    margin-left: 17%;
    @include responsive(margin-left, 7%, 'sm');
  }
}
.form-container {
  position: absolute;
  padding-bottom: 10vh;
  padding-right: 5%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  //   margin-left: 10%;
  overflow-y: auto;
  transform: translateX(150%);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation: slide 0.5s forwards;
  -webkit-animation: slide 1.5s forwards;
}
.form-wrapper2 {
  width: 30%;
  margin-left: auto;
}
form {
  margin-top: 10vh;
  //   @media screen and (max-width: breakpoint(sm)) {
  //     position: relative;
  //     width: 100%;
  //   }
  .category-card {
    &:hover,
    &:active {
      border: 1px solid var(--primary);
      //   .icon-briefcase,
      //   .icon-user {
      //     background: var(--primary);
      //   }
      .arrow {
        display: block;
        right: 48px;
        @extend .flex-x-center-center;
      }
    }
  }
  @-webkit-keyframes slide {
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide {
    100% {
      transform: translateX(0);
    }
  }
}
