.onboarding-bg {
  background: url(/assets/images/Onboarding-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  @include responsive-max(height, auto, sm);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  img.logo {
    width: rem(571);
    margin-left: 17%;
    // @media screen and (max-width: breakpoint-max(xxl)) {
    //   width: 4rem;
    // }
    // @include responsive-max(width, rem(430), xxl);
    // @include responsive-max(width, rem(300), lg);
    // @include responsive-max(width, rem(200), sm);
    @include responsive-max(margin-left, rem(16), sm);
  }
}
hr {
  border-top: 1px solid var(--grey3);
  margin: 0 0 rem(24) 0;
}

.form-container {
  position: fixed;
  @include responsive-max(padding, 0, sm);
  right: 5%;
  top: 8vh;
  bottom: 6vh;
  @include hide-scrollbar;
  overflow-y: auto;
  transform: translateX(150%);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation: slide 0.5s forwards;
  -webkit-animation: slide 1.5s forwards;
  width: rem(570);
  // @include responsive-max(width, rem(480), 'xxl');
  // @include responsive-max(width, 100%, sm);
}
.field-wrapper {
  // max-height: vh(647);
  max-height: 45.5vh;
  overflow-y: auto;
  @include hide-scrollbar;
}

.form-wrapper2 {
  margin-left: auto;
}
.ellipse {
  max-width: rem(250);
  top: rem(79);
}
form {
  .category-card {
    &:hover,
    &:active {
      border: 1px solid var(--primary);
      //   .icon-briefcase,
      //   .icon-user {
      //     background: var(--primary);
      //   }
      .arrow {
        display: block;
        right: 48px;
        @include responsive-max(display, none, sm);
        @extend .flex-x-center-center;
      }
    }
  }
  @-webkit-keyframes slide {
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide {
    100% {
      transform: translateX(0);
    }
  }
}
