$font-size-base: 1rem;
$font-family-base: var(--ion-font-family);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: var(--ion-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
p {
  font-family: Open Sans;
}
.sr-only {
  display: none;
}

.text-truncated-singleline {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-weight-normal {
  font-weight: normal !important;
  &-md {
    @media screen and (min-width: 768px) {
      font-weight: normal !important;
    }
  }
}

.text-weight-medium {
  font-weight: 500 !important;
}
.text-weight-600 {
  font-weight: 600;
}
.text-weight-bold {
  font-weight: 700 !important;
  &-sm {
    @media screen and (max-width: 768px) {
      font-weight: 700 !important;
    }
  }
}

.f10-h13 {
  font-size: rem(10) !important;
  line-height: rem(13) !important;
}

.f12-h13 {
  font-size: rem(12) !important;
  line-height: rem(13) !important;
}

.f12-h16 {
  font-size: rem(12) !important;
  line-height: rem(16) !important;
}

.f13-h18 {
  font-size: rem(13) !important;
  line-height: rem(18) !important;
}

.f15-h20 {
  font-size: rem(15) !important;
  line-height: rem(20) !important;
}
.f14-h28 {
  font-size: rem(14) !important;
  line-height: rem(28) !important;
}

.f15-h24 {
  font-size: rem(15) !important;
  line-height: rem(24) !important;
  &-md {
    @media screen and (min-width: 768px) {
      font-size: rem(15) !important;
      line-height: rem(24) !important;
    }
  }
}
.ff6-h21 {
  font-size: rem(16) !important;
  line-height: rem(21) !important;
}
.f17-h24 {
  font-size: rem(17) !important;
  line-height: rem(24) !important;
}
.f18-h28 {
  font-size: rem(18) !important;
  line-height: rem(28) !important;
}
.f30-h41 {
  font-size: rem(30) !important;
  line-height: rem(41) !important;
}
.f-18 {
  font-size: 18px;
  line-height: auto;
}
.f-20 {
  font-size: 20px;
  line-height: auto;
}
.f-30 {
  font-size: 30px;
  line-height: auto;
}
.f18-h24 {
  font-size: rem(18) !important;
  line-height: rem(24) !important;
}

.f20-h24 {
  font-size: rem(20) !important;
  line-height: rem(24) !important;
}

.f22-h27 {
  font-size: rem(22) !important;
  line-height: rem(27) !important;
}
.f30-h42 {
  font-size: rem(30) !important;
  line-height: rem(42) !important;
}
.f-85 {
  font-size: rem(85) !important;
  line-height: auto;
  @media screen and (max-width: breakpoint-max(sm)) {
    font-size: rem(35) !important;
  }
}
.f35-h42 {
  font-size: rem(35) !important;
  line-height: rem(42) !important;
  &-sm {
    @media screen and (max-width: breakpoint-max(sm)) {
      font-size: rem(35) !important;
      line-height: rem(42) !important;
    }
  }
}

.white-space-normal {
  white-space: normal;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-normal {
  font-size: rem(17);
  line-height: rem(24);
}

.text-normal-important {
  font-size: rem(16) !important;
  line-height: rem(22) !important;
}

.text-underline {
  text-decoration: underline;
}

.no-text-transform {
  text-transform: none;
}

.text-truncated {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncated-single-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalise {
  text-transform: capitalize;
}
.text-capitalise-fl {
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}
.lh-16 {
  line-height: rem(16);
}

.ls-025 {
  letter-spacing: 0.25px;
}

.ls--01 {
  letter-spacing: -0.1px;
}

.ls--017 {
  letter-spacing: -0.17px;
}

.ls-01 {
  letter-spacing: 0.1px;
}

.ls-02 {
  letter-spacing: 0.2px;
}

.ls-03 {
  letter-spacing: 0.3px;
}

.ls-032 {
  letter-spacing: 0.32px;
}

.ls-04 {
  letter-spacing: 0.4px;
}

.ls-05 {
  letter-spacing: 0.5px;
}

.ls-3 {
  letter-spacing: 3px;
}

.ls-0 {
  letter-spacing: 0;
}
