$font-size-base: 1rem;
$font-family-base: var(--ion-font-family);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: var(--ion-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
p {
  font-family: Open Sans;
}
.sr-only {
  display: none;
}

.text-truncated-singleline {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-weight-normal {
  font-weight: normal;
  &-md {
    @media screen and (min-width: 768px) {
      font-weight: normal;
    }
  }
}

.text-weight-medium {
  font-weight: 500;
}
.text-weight-600 {
  font-weight: 600;
}
.text-weight-800 {
  font-weight: 800;
}
.text-weight-bold {
  font-weight: 700;
  &-sm {
    @media screen and (max-width: 768px) {
      font-weight: 700;
    }
  }
}

.f10-h13 {
  font-size: rem(10);
  line-height: rem(13);
}

.f12-h13 {
  font-size: rem(12);
  line-height: rem(13);
}

.f12-h16 {
  font-size: rem(12);
  line-height: rem(16);
}

.f13-h18 {
  font-size: rem(13);
  line-height: rem(18);
}

.f15-h20 {
  font-size: rem(15);
  line-height: rem(20);
}
.f14-h28 {
  font-size: rem(14);
  line-height: rem(28);
}

.f15-h24 {
  font-size: rem(15);
  line-height: rem(24);
  &-md {
    @media screen and (min-width: 768px) {
      font-size: rem(15);
      line-height: rem(24);
    }
  }
}
.ff6-h21 {
  font-size: rem(16);
  line-height: rem(21);
}
.f17-h24 {
  font-size: rem(17);
  line-height: rem(24);
}
.f18-h28 {
  font-size: rem(18);
  line-height: rem(28);
}
.f30-h41 {
  font-size: rem(30);
  line-height: rem(41);
}
.f-18 {
  font-size: 18px;
  line-height: auto;
}
.f-20 {
  font-size: 20px;
  line-height: auto;
}
.f-30 {
  font-size: 30px;
  line-height: auto;
}
.f18-h24 {
  font-size: rem(18);
  line-height: rem(24);
}

.f20-h24 {
  font-size: rem(20);
  line-height: rem(24);
}
.f20-h27 {
  font-size: rem(20);
  line-height: rem(27);
}
.f22-h27 {
  font-size: rem(22);
  line-height: rem(27);
}
.f24-h33 {
  font-size: rem(24);
  line-height: rem(33);
  @media screen and (max-width: breakpoint-max(xxl)) {
    font-size: rem(20);
    line-height: initial;
  }
}
.f30-h42 {
  font-size: rem(30);
  line-height: rem(42);
}
.f-85 {
  font-size: rem(85);
  line-height: auto;
  @media screen and (max-width: breakpoint-max(sm)) {
    font-size: rem(35);
  }
}
.f35-h42 {
  font-size: rem(35);
  line-height: rem(42);
  &-sm {
    @media screen and (max-width: breakpoint-max(xxl)) {
      font-size: rem(35);
      line-height: rem(42);
    }
  }
}
.f48-h65 {
  font-size: rem(48);
  line-height: rem(65);
  &-sm {
    @media screen and (max-width: breakpoint-max(xxl)) {
      font-size: rem(48);
      line-height: rem(65);
    }
  }
}
.f78-h98 {
  font-size: rem(78);
  line-height: rem(98);
  @media screen and (max-width: breakpoint-max(xxl)) {
    font-size: rem(48);
    line-height: initial;
  }
}
.white-space-normal {
  white-space: normal;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-normal {
  font-size: rem(17);
  line-height: rem(24);
}

.text-normal-important {
  font-size: rem(16);
  line-height: rem(22);
}

.text-underline {
  text-decoration: underline;
}

.no-text-transform {
  text-transform: none;
}

.text-truncated {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncated-single-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalise {
  text-transform: capitalize;
}
.text-capitalise-fl {
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}
.lh-16 {
  line-height: rem(16);
}

.ls-025 {
  letter-spacing: 0.25px;
}

.ls--01 {
  letter-spacing: -0.1px;
}

.ls--017 {
  letter-spacing: -0.17px;
}

.ls-01 {
  letter-spacing: 0.1px;
}

.ls-02 {
  letter-spacing: 0.2px;
}

.ls-03 {
  letter-spacing: 0.3px;
}

.ls-032 {
  letter-spacing: 0.32px;
}

.ls-04 {
  letter-spacing: 0.4px;
}

.ls-05 {
  letter-spacing: 0.5px;
}

.ls-3 {
  letter-spacing: 3px;
}

.ls-0 {
  letter-spacing: 0;
}
