@import '../theme/variables';
@import '../theme/functions/function';
@import '../theme/mixins/mixins';
@import '../theme/mixins/spacing';
@import '../theme/mixins/layout';
@import '../theme/components/components';

body {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
}
