@import '../theme/variables';
@import '../theme/functions/function';
@import '../theme/mixins/mixins';
@import '../theme/mixins/spacing';
@import '../theme/mixins/layout';
@import '../theme/mixins/progress';
@import '../theme/components/components';

body {
  padding: 0;
  margin: 0;
  background: var(--outlet);
  @media screen and (max-width: 1600px) {
    zoom: 78%;
  }
  @media screen and (max-width: 768px) {
    zoom: 100%;
  }
}

html {
  width: 100%;
  height: 100%;
  position: relative;
}
